body {
  background-color: darkslateblue;
}

.imgBox {
  background-image: url(logo-blue.png);
  position: relative;
  top: 7px;
  left: 5px;
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.whiteBox {
  height: 155px;
  width: 155px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  border: 3px black solid;
}

.hold {
  border: solid red 4px;
}
.dashed {
  background: rgb(214, 206, 206);
  border-style: dashed;
}

.hide {
  display: none;
}
